@import url('https://css.gg/arrow-right.css');

body {
  font-family: "Ibarra Real Nova",serif;
  background-color: rgb(255, 235, 193);
  margin-top: 5px;
}

/* Home Page styling */
.home-def{
  margin-top: 0px;
}
#main{
  overflow: hidden;
}
#menu-holder {
  height: 100vh;
  display: flex;
  align-items: center;
}
.menu{
  color: rgb(255, 235, 193);
  font-size: clamp(3rem, 8vw, 8rem);
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
  
}
#menu-items {
  margin-left: clamp(4rem, 12vw, 48rem);
  position: relative;
  z-index: 2;
}
#menu-items:hover > .menu{
  opacity: 0.3;
}
#menu-items:hover > .menu:hover{
  opacity: 1;
  color: rgb(255, 235, 193);
}
#menu-background{
  height: 100vh;
  width: 100vw;
  background-color:rgb(173, 139, 115);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition: 700ms ease;
}
#menu-items:hover ~ #menu-background{
  background-color:rgb(116, 86, 64);
}
#home-footer{
  margin-top: 90vh;
  margin-left: 15%;
  color: rgb(255, 235, 193);
}
/* Home Page styling */
#copyright{
  z-index: 3;
}
p   {
    margin-left:30;
}
.Default_style_td {
    padding : 8px;
}
.data_display{
  padding: 4px;
}
th {
    box-shadow: 5px 3px 10px 1px ;
    background-color:rgb(173, 139, 115);
    text-align: center;
}
img {
    border-radius:50% ;
    height: 140px;
    width: 100px;
    opacity: 80% ;  
    box-shadow: 5px 5px 16px 2px;
}   
header {
  background-color: rgb(173, 139, 115);
  padding: 1px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  height: 90vh;
  overflow: auto;
  background: rgb(233, 206, 166);
  padding: 20px;
  transition: all 0.3s;
  width: 13%;
}
nav a{
  display: block;
  padding: 16px;
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease; 
}
nav a:hover {
  background-color: rgb(206, 171, 147);
  color: black;
}

form {
  padding-top: 15px;
  text-align: center;
}

.Def_table{
  width: 100%;
}

.submitButton{
  width: 100px;
  height: 35px;
  box-shadow: rgb(206, 171, 147) 3px 3px 9px 1px;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
}
.resetButton{
  width: 100px;
  height: 35px;
  box-shadow: rgb(206, 171, 147) 3px 3px 9px 1px;
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
}
.navflex{
  display: flex;
}
article {
  float: left;
  padding: 22px;
  padding-right: 15px;
  width: 75%;
  background-color: rgb(255, 235, 193);
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -97px;
  padding-top: 2px;
  background : #1acc79;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : rgb(0, 0, 0);
  transition : .3s;
  text-align: center;
  top: 3px;
  position: relative;
}

.submitButton:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -100px;
}
.submitButton:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
}
.gg-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  left: 150px;
  top: -3px;
}

/* Style the footer */
footer {
background-color: rgb(173, 139, 115);
  padding: 10px;
  text-align: center;
  color: white;
}

.imgblock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

select{
  border-radius: 9999px;
  width: 175px;
  text-align: center;
  height: 24px;
}

.data_display button{
  width: 60px;
  height: 25px;
  box-shadow: rgb(206, 171, 147) 2px 2px 7px 1px;
  text-align: center;
  transition: all 500ms ease; 
  border-radius: 9999px;
  line-height: normal;
}
.btndelete{
  background: #cf1b2a;
}

.btnedit{
  background:rgb(133, 185, 48);
}

.btnshow{
  background:rgb(68, 185, 206);
}

.btndelete:hover{
  color: white;
  border: #e42f01 solid 2px;
  background:rgb(221, 30, 30);
}

.btnedit:hover{
  color: white;
  border: #5bf006 solid 2px;
  background:rgb(0, 180, 15);
}

.btnshow:hover{
  color: white;
  border: #0616f0 solid 2px;
  background:rgb(3, 133, 209);
}

input
{
  border-radius: 9999px;
  border-style: inset;
  height: 22px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 540px) {
  .imgblock
  {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  nav, article {
    width: 100%;
    position: relative  ;
    height: auto;
    max-width: 100%;
  }
  nav a{
    float: left;
    padding: 16px;
  }
}
